@import "../variables";


@mixin readBtn($fontSize) {
    font-size: $fontSize;
}

.read-more-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    color: $subColor;
    font-size: $descriptionFontSize;
    font-family: regular-jamjure;
    


    img {
        padding: 4px;
    }
}