@import "../variables";


.input-con {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .input-txt {
        padding: 9px;
        border: none;
        border-bottom: 2px solid $socialNetworkColor;
        width: 100%;
        background: transparent;
        font-size: $descriptionFontSize;
        font-family: niagara;
        letter-spacing: 5px;
        color: $lightTxtFontColor;

        &::placeholder {
            font-size: $descriptionFontSize;
        }
    }
}

.footer-wrapper-left-bottom {
    border-top: 2px solid $socialNetworkColor;

    .input-txt {
        padding: 9px;
        border: none;
        background: transparent;
        font-size: $descriptionFontSize;
        font-family: niagara;
        letter-spacing: 5px;
        color: $subColor;
    }
}