@import "../variables";

.page_num {
    color: $pagerColor;
    background-color: #161A1D;
    font-family: niagara;
    font-size: 100px;
    position: sticky;
    width: 139px;
    height: 137px;
    top: 0px;
    left: 100vw;
    letter-spacing: 10px;
    z-index: 200;

    display: flex;
    align-items: center;
    justify-content: center;
}