@import "../variables";
@import "../font";


.hero {
    width: 100vw;
    height: 100vh;
    background: url("../../../src/assets/image/herro.png") top / cover no-repeat;
}

.saba {
    height: 100vh;
}