@font-face {
    font-family: bold-masberco;
    src: url("../assets/font/masberco/Masberco.ttf");
}

@font-face {
    font-family: regular-jamjure;
    src: url("../assets/font/jamjure/Bai_Jamjuree/BaiJamjuree-Regular.ttf");
}

@font-face {
    font-family: niagara;
    src: url("../assets/font/niagara/NIAGSOL.TTF");
}
