$mainTitleFontColor: #BA181B;
$secondaryTitleFondColor: #9B2226;
$pagerColor: #660708;
$lightTxtFontColor: #B1A7A6;
$socialNetworkColor: #676262;
$subColor: #CA6702;
$mainStripeColor: #E5383B;
$backgroundColor: #00000000;

$mainTitleFontSize: 150px;
$secondaryTitleFontSize: 100px;
$numFonSize: 100px;
$descriptionFontSize: 24px;