$mainTitleFontColor: #BA181B;
$secondaryTitleFondColor: #9B2226;
$pagerColor: #660708;
$lightTxtFontColor: #B1A7A6;
$socialNetworkColor: #676262;
$subColor: #CA6702;
$mainStripeColor: #E5383B;
$backgroundColor: #000;

$mainTitleFontSize: 220px;
$secondaryTitleFontSize: 100px;
$numFonSize: 100px;
$descriptionFontSize: 24px;
$containerWrapper: clamp(1400px, 99%, 1640px);
$stripeWrapper: clamp(320px, 86%, 1642px);
$imgCon: clamp(400px, 100%, 809px);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin side-blur() {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    width: 139px;
    height: 100vh;
}