@use "./import";

@font-face {
    font-family: bold-masberco;
    src: url("../assets/font/masberco/Masberco.ttf");
}

@font-face {
    font-family: regular-jamjure;
    src: url("../assets/font/jamjure/Bai_Jamjuree/BaiJamjuree-Regular.ttf");
}

@font-face {
    font-family: niagara;
    src: url("../assets/font/niagara/NIAGSOL.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background:transparent;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

button,
a,
li,
input,
img {
    cursor: pointer;
}